*, 
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0%;
}
.body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #423333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: grey;
    padding: 20px;
    margin: center;
    border-radius: 0px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus, select:focus, textarea:focus {
    border-color: #333;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
